.club-activities-header{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    
}
.club-activities-text{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}
.card {
  /* background-color:  rgb(234, 231, 230); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(240, 235, 235);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .card-footer {
    background-color: rgb(240, 235, 235);
    border-top: none;
  }
  
  .card-footer small {
    color: gray;
  }
  
  .btn-primary {
    background-color: rgb(201, 117, 81) !important;
    border-color: rgb(201, 117, 81);
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .event-card-body {
    
    padding: 1rem;
  }
  .hr {
    border-top: 3px solid rgb(255, 255, 255);
  }
  
  .btn-primary:hover {
    background-color: rgb(179, 101, 68) !important;
    border-color: rgb(179, 101, 68);
  }
  .club-activities-container{ color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    overflow: hidden;
    background-color: rgba(60, 60, 60, 0.4);
    padding: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 5px;

  }
  
@media only screen and (max-width: 590px) {
.slick-prev, .slick-next {
    display: none !important;
}
}