  .tag{
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    font-size: 5rem; 
    font-weight: bold; 
    color: white;
  }
  
  .navbar-nav {
    margin-left: auto; 
  } 
   .nav-link {
    font-size: 1rem; 
    margin-right: 15px; 
    color: white; 
    text-transform: uppercase;
  }
  
  .start{
    color: white;
    font-size: 2rem;
  }
  .start:hover{
    color: white;
  }

