@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
  }
  
  .image-gallery-slide img {
    object-fit: contain;
    max-height: 50vh;
  }
  
  .image-gallery-thumbnail-image img {
    object-fit: contain;
    max-height: 10vh;
  }