.hero-container {
    height: 100vh;/* choose your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-header {
    font-size: 3rem;
    color: #333; /* choose your desired font color */
  }
  
  .hero-subtext {
    font-size: 1.2rem;
    color: #333; /* choose your desired font color */
    margin-bottom: 2rem;
  }
  